body {
    background-color: white;
    margin: 0;
    
    

}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.logo {

    width: 100px;
    height: 70px;
    justify-content: left;
    transform: translate(0, -70px);
}

.inicio {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-right: 50px;
    margin-left: 150px;
    color: black;
    
}

.servicios {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-right: 50px;
    color: black;
    
}

ul {

    list-style: none;
    border: 15px;
    background-color: chocolate;
    display: flex;
    height: 70px;
    text-align: center;
    align-items: center;
    font-size: larger;
    margin: 0;
    
    

}

.textoinicio {

    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    margin-top: -40px;
    
}

.camisetas {

    display: flex;
    justify-content: center;
    
}

.camiseta1 {

    
    width: 300px;
    padding: 30px;
    
    
}

.camiseta2 {

    
    width: 300px;
    padding: 30px;
    
}

a {

    text-decoration: none;
    color: black;
}

.nosotros {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-right:50px;
    color: black;
    
}

.contacto {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-right: 50px;
    color: black;
    
    
}

.botones {

    display: flex;
    justify-content: center;
    gap: 255px;
    
}

.boton1 {

    padding: 15px;
    border-radius: 15px 20px;
    cursor: pointer;
    background-color: chocolate;
    transition: background-color 0.3s;
    
}

.boton1:hover {

    background-color: coral;
}

.boton2 {

    border-radius: 15px 20px ;
    padding: 15px;
    cursor: pointer;
    background-color: chocolate;
    transition: background-color 0.3s;
    
}

.boton2:hover {

    background-color: coral;
}

.pantalones {

    display: flex;
    justify-content: center;
    margin: 40px;
    gap: 50px;
}

.pantalon1 {

    width: 300px;
}

.pantalon2 {
    width: 300px;
}

.pantalon3 {
    width: 250px;
}

.botones2 {

    display: flex;
    justify-content: center;
    gap: 250px;
}

.boton3 {

    padding: 15px;
    border-radius: 15px 20px;
    cursor: pointer;
    background-color: chocolate;
    transition: background-color 0.3s;
}

.boton3:hover {

    background-color: coral;
}

.boton4 {

    padding: 15px;
    border-radius: 15px 20px;
    cursor: pointer;
    background-color: chocolate;
    transition: background-color 0.3s;
}

.boton4:hover {
    background-color: coral;
}

.boton5 {

    padding: 15px;
    border-radius: 15px 20px;
    cursor: pointer;
    background-color: chocolate;
    transition: background-color 0.3s;
}

.boton5:hover {

    background-color: coral;
}

.descripcion {

    display: flex;
    align-items: center;

}

.imagendescrip {

    width: 300px;
    margin: 40px;
    
}

.textodescrip {

    text-align: center;
    
}

footer {

    display: flex;
    gap: 100px;
    padding: 10px;
    background-color: chocolate;
}

.camiseta1, .camiseta2, .pantalon1, .pantalon2, .pantalon3, .imagendescrip {

    border-radius: 15px;
    
}
